In [1]:
import pandas as pd

In [12]:
# read the csv file into a pandas dataframe
inspect_lat_long = pd.read_csv('updated_inspection.csv')
# select only the columns that are needed
inspect_lat_long = inspect_lat_long[['Inspection ID', 'DBA Name', 'Risk', 'Address', 'Zip', 
                                     'Inspection Date', 'Results','Latitude', 'Longitude']]
# create a unique column
inspect_lat_long['Unique_ID'] =  inspect_lat_long['Latitude'] + inspect_lat_long['Longitude'] 
inspect_lat_long.count()

Inspection ID      121290
DBA Name           121290
Risk               121287
Address            121290
Zip                121258
Inspection Date    121290
Results            121290
Latitude           121146
Longitude          121146
Unique_ID          121146
dtype: int64

In [13]:
inspect_lat_long.head()

,Inspection ID,DBA Name,Risk,Address,Zip,Inspection Date,Results,Latitude,Longitude,Unique_ID
0,2268564,PIZZERIA AROMA,Risk 1 (High),5350 N BROADWAY,60640.0,2019-02-26T00:00:00,Fail,41.979651,-87.660106,-45.680455
1,2268560,PIZZERIA AROMA,Risk 1 (High),5350 N BROADWAY,60640.0,2019-02-26T00:00:00,Fail,41.979651,-87.660106,-45.680455
2,2268527,CAFECITO,Risk 1 (High),401-403 W FULLERTON PKWY,60614.0,2019-02-26T00:00:00,Pass w/ Conditions,41.925501,-87.639179,-45.713678
3,2268526,JOHNSON'S REAL ICE CREAM,Risk 2 (Medium),2951 N BROADWAY,60657.0,2019-02-26T00:00:00,Pass w/ Conditions,41.936415,-87.644128,-45.707713
4,2268524,TONY'S KITCHEN #2 INC.,Risk 1 (High),6325 S CENTRAL AVE,60638.0,2019-02-26T00:00:00,Pass w/ Conditions,41.777201,-87.761542,-45.984340

In [1]:
inspect_lat_long.to_csv('inspect_lat_long.csv')

NameError: name 'inspect_lat_long' is not defined

In [15]:
rating_lat_long = pd.read_csv('updated_rating.csv')
rating_lat_long['Unique_ID'] =  inspect_lat_long['Latitude'] + inspect_lat_long['Longitude'] 
rating_lat_long.count()

Unnamed: 0    126
Latitude      126
Longitude     126
Ratings       126
Unique_ID     126
dtype: int64

In [16]:
rating_lat_long.head()

   Unnamed: 0   Latitude  Longitude  Ratings  Unique_ID
0           2  41.875810 -87.626449      4.6 -45.680455
1          10  41.879322 -87.668978      4.3 -45.680455
2          12  41.966191 -87.657573      3.9 -45.713678
3          13  41.885130 -87.623761      4.4 -45.707713
4          14  41.956707 -87.655293      3.9 -45.984340

In [ ]:
rating_lat_long.to_csv('rating_lat_long.csv')